---
import SiteLayout from "../layouts/SiteLayout.astro"
---

<SiteLayout>
  <main class="relative flex flex-col gap-8 w-screen h-screen p-8">
    <h1>hodgepodge</h1>
    <ul id="blocks" class="list-none">

    </ul>
    <menu class="flex gap-4 absolute top-5 w-full items-center justify-center inset-x-0">
      <button
        hx-post="/addTextBlock"
        hx-target="#blocks"
        hx-swap="beforeend"
        class="border px-4 py-1"
      >
        Text
      </button>

      <button
        hx-post="/addCheckbox"
        hx-target="#blocks"
        hx-swap="beforeend"
        class="border px-4 py-1"
      >
        Checkbox  
      </button>
    </menu>
  </main>
</SiteLayout>
